.button {
    width: 33.33%;
    height: 50px;
    font-size: 22px;
    background-color: white;
    border: none;
}

.button:not(:last-child) {
    border-right: 1px solid #EEE;
}

.button-wraper {
    margin-top: 30px;
}

.button:active {
    background-color: black;
    color: white;
}